#table,
button#start-game {
  display: none;
}

body {
  background-color: black;
  font-family: 'Permanent Marker', cursive;
}

.header {
  background-color: #fff;
  text-align: center;
  font-size: 112px;
}

.main {
  background-color: #fff;
  height: 950px;
  margin-top: 40px;
  background-image: url("../img/background1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}

.player-score {
  width: 400px;
  position: absolute;
  top: 200px;
}

.current {
  color: red;
}

.winner {
  color: green !important;
}

.rules{
  width: 365px;
  position: absolute;
  top: 710px;
  left: 190px;
}

.rules p {
  text-align: center;
  font-size: 20px;
  border-bottom: solid black 2px;
  margin-bottom: 0;
}

.rules ul {
  margin-top: 0;
}

#table {
  width: 200px;
  position: absolute;
  top: 520px;
  right: 350px;
  text-align: center;
}

#die-roll {
  font-size: 20px;
  font-weight: bolder;
}

/*background images*/
#img-sign {
  height: 350px;
  position: absolute;
  top: 650px;
}

#pigs-fly {
  width: 675px;
  position: absolute;
  top: 330px;
  right: 130px;
}

#player {
  font-size: 25px;
}

button#start-game {
  font-size: 20px;
  position: absolute;
  top: 950px;
  right: 385px;
}
